[Unit]
Description=Shadowsocks-Libev Custom Client Service Tunnel Mode for %I
DefaultDependencies=no
After=network-online.target

[Service]
Type=forking
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
User=shadowsocks-libev
Group=shadowsocks-libev
PIDFile=/var/packages/shadowsocks-libev/var/%i.pid
ExecStart=/var/packages/shadowsocks-libev/target/bin/ss-tunnel -f /var/packages/shadowsocks-libev/var/%i.pid -c /var/packages/shadowsocks-libev/etc/%i.json
Slice=shadowsocks-libev.slice

[Install]
WantedBy=multi-user.target

[X-Synology]

